.llitem{
  position:fixed;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  height:100vh;
  width:180px;
  left:-6px;
  top:80px;
  --lwc-text-color: #000000 !important; /* Set your desired color value here */
  font-size: medium;
  text-align:left;
  /* background-color: darkgrey; */
 }
  /* .slds-scope .slds-p-around_medium, .slds-scope .slds-p-around--medium {
  padding-bottom:0;
  margin-bottom: 0;
  bottom:0;
 } */
.tabContent1 {
  position:relative;
  width:calc(10vw-190px);
  bottom:0;
  top:-34px;
  margin-top:12px;
  margin-left:190px;
  overflow-y: hidden;
  min-height:85vh;
  margin-bottom: 0;
  padding-bottom: 0;
  left:-8px;
  color:#000000;
}
.lightning-vertical-navigation-item{
text-decoration: none !important;
}
:host {
  --lwc-text-color: #000000 !important; /* Set your desired color value here */
}
.borderbtm{
  border-bottom: 1px solid #d3d3d3;
  color:#000000;
}
.hamburger{
  color:#000000;
  background-color:#f3f3f3;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  border-radius: 2px;;
  padding: 6px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin-bottom: 3px;
  top:0px;
  min-width:calc(100vw-190px);
  font-size:medium;
  text-transform: capitalize;
  font-weight: bold;
  margin-top:5px;
}

.navbar {
  display: none;
}

.active + .navbar {
  display: block;
}
.navbar-header{
  position:absolute;
  top:10px;
}
/* .lightning-vertical-navigation-item{
  color: #fff !important; 
} */



  .remove-underline {
    text-decoration: none !important;
  }