.contact-us-section {
    background: linear-gradient(0deg, #6e1ebe 0%, #2a2b6e 100%);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 106px;
}

.contact-us-section h1 {
    font-size: 39px;
}

.contact-us-section h3 {
    font-size: 59px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 106px 0px 0px;
}

.contact-us-section p {
    margin-bottom: 0px;
}

.contact-us-section a {
    color: #fff;
    text-decoration: none;
}

.elementor-container {
    position: relative;
}

.elementor-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 227, 223);
}

.company-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.company-info img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.company-address {
    margin-top: 30px;
}