.dummy{
    color : blue;
    }
    .slds-modal__container{
	width:90%;
	margin:0 auto;
	min-width:90%;
}
    .slds-grid.slds-wrap {
      display: flex;
      flex-wrap: wrap;
    }
    
    .slds-card.jobOpeningStyles {
      width: 300px; /* Adjust the width as per your requirement */
      height: 200px; /* Adjust the height as per your requirement */
      margin: 15px 10px 10px 20px;
      padding: 5px;
      border-top: 5px solid #3865B3;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .slds-card.jobOpeningStyles:hover {
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
  font-weight: bold;
    }

    .slds-card.jobOpeningStyles p {
      margin: 0;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    /* Adjust the font size and other styles as needed */
    
    
    .locationStyle{
    /* font-weight:bold; */
    margin-bottom:10px;
    color:#071f86;
    }
    .positionStyle{
    font-weight:bold;
    font-size:20px;
    color:#3865b3;
    cursor:pointer;
    margin-left:20px;
    margin-top:20px;
    
    }
    .positionStyle:hover{
    
    color:#333333;
    
    
    }
    .technologyStyle{
    font-size:14px;
    margin-left:20px;
    margin-top:10px;
    color:#333333;
    /* font-weight:bold; */
    
    }
    .experienceStyle,.Duedate{
    font-size:14px;
    margin-left:20px;
    margin-top:10px;
    color:#333333;
    /* font-weight:bold; */
    
    
    }
    @media screen and (max-width:600px) {
    .jobOpeningStyles{
    left:-5px;margin:10px;padding:10px;min-width:180px;min-height:180px;
    }
    .positionStyle{
    font-size:16px;
    }
    }
/*pop up style*/
.nameStyle,.LocationStyle,.techtyle,.expStyle,.dueStyle,.RoleStyle {
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 20px;
}